{% extends 'app/base.html' %}
{% block content %}
    <div class="row">
        {% for movie in movies %}
            <div class="card mt-4 ml-5" style="width: 20rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.director }}</p>
                    <a href="{% url 'details' movie.id %}" class="btn btn-primary">More...</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}